.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-family: Arial;
}

.ingredientes {

    grid-column: 1;
    display: flex;
    align-items: start;
    flex-direction: column;

}

.hamburguesa {

    grid-column: 2;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.tomate,
.queso,
.lechuga,
.carne {
    display: none;
}

.pan {

    width: 200px;
    height: 40px;
    background-color: rgb(237, 199, 141);
    border-radius: 20px;
}

.carne {

    width: 170px;
    height: 20px;
    background-color: rgb(105, 77, 43);
    border-radius: 40px;

}

.lechuga {

    width: 180px;
    height: 15px;
    background-color: rgb(181, 248, 123);
    border-radius: 20px;

}

.queso {

    width: 160px;
    height: 10px;
    background-color: rgb(248, 246, 123);
    border-radius: 5px;

}

.tomate {
    width: 150px;
    height: 15px;
    background-color: rgb(244, 53, 0);
    border-radius: 20px;

}

.container:has(#carne:checked) .carne {
    display: block;
}

.container:has(#lechuga:checked) .lechuga {
    display: block;
}

.container:has(#queso:checked) .queso {
    display: block;
}

.container:has(#tomate:checked) .tomate {
    display: block;
}

body {

    font-size: 16px;
}

@media (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
    }

    .ingredients {
        grid-column: auto;
    }

    .burger {
        grid-column: auto;
        margin-top: 30px;
        align-items: center;
    }

    body {
        font-size: 25px;
    }

    .ingredients input[type="checkbox"] {
        transform: scale(1.8);
        margin-right: 10px;
    }

}